body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 20%;
  background: black;
}
h1 {
  color: white
}
button {
  padding: 10px 20px;
  width: 200px;
  height: 80px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  background-color: orange;
}
p {
  font-size: 24px;
  font-weight: bold;
  color:white;
}
